<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1> <%= about %> </h1>
    <hr>
    <div id="contenedor-productos">

        <!-- Vamos a iterar el array de productos que le pasamos desde el endpoint -->
        <% products.forEach(prod => { %>
            <div class="card-producto">
                <img src="<%= prod.image %>" alt="<%= prod.name %>">
                <h5><%= prod.name %></h5>
                <p>Id: <%= prod.id %></p>
                <p>$<%= prod.price %></p>
            </div>
        <% }) %>

    </div>
</main>

<%- include("partials/footer.ejs") %>